%html
  %head
    %title #{ current_path.basename.to_s.gsub(/\.haml$/, '') } - «Draft» Ubiregi API
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "bootstrap.min.css" }
    %link{ :rel => "stylesheet", :href => "top.css" }
  %body
    .topbar
      .topbar-inner
        .container
          .row
            %h3= link_to "Ubiregi API", "index.html"
            %ul.nav
              %li.registration= link_to "Registration", "registration.html"
              %li.authentication= link_to "Authentication", "authentication.html"
              %li.resources= link_to "Resources", "resources.html"
              %li.errors= link_to "Errors", "errors.html"
    - if current_path.basename.to_s =~ /index/
      .panel
        .inner-panel
          %h1 Ubiregi API
          %h2 Ubiregi is simple and clean yet powerful; so the API is.
    .container{ :style => "margin-top:60px; margin-bottom:2em" }
      .row
        .span12.offset2
          %h3{ :style => "color: red; text-align:center; font-family:Papyrus; font-weight:normal; background-color:#FED; margin-bottom:1em" }
            Draft; we are still working for this docs.
      
      = yield
      
      %hr
      .row{ :style => "text-align:center; margin-bottom:2em" }
        &copy; 2011 Ubiregi Inc. All rights reserved.
