%h1#errors Errors

:markdown
  Errors are notified via HTTP response status. Error code are following
  the standard HTTP error code convention. If there are something bad in
  your request, you will get `4xx`. If there are something wrong
  happen on the server, you will get `5xx`.

%h2#errors-status-code Status code

%p 
  We define four status code, where the meaning is shared between all requests.

%dl
  %dt 401 (Unauthorized)
  %dd The request does not contains valid authentication token for your application.
  %dt 403 (Forbidden)
  %dd 
    Your request is rejected by the server.  For example, if you modify read-only
    attribute, status code 403 is returned.
  %dt 404 (Not Found)
  %dd 
    Resources client want to require is not found.  If the status code is 404,
    we recommend you to check account id, menu id, customer id, and so on in request JSON.

%h2#errors-error-object Error object

:markdown
  The error response contains JSON object which represents the detail of the error.  The format
  of Error object is as the followings:

%h2#errors-error-object-fields Fields

.row
  .span6
    %dl
      %dt= field "errors", :readonly
      %dd 
        Array of an object.  
        %dl
          %dt= field "object", :readonly
          %dd A JSON object included in request JSON that related to the reason why this request failed.
          %dt= field "messages", :readonly
          %dd An array of error messages.
      %dt= field "timestamp", :readonly
      %dd The server time that a request failed.

  .span6
    %pre
      = preserve do
        :escaped
          {
            "errors": [
              {
                "object" : {
                  "name": "Existing Cashier",
                  "enabled":true,
                  "icon":"hogehoge"
                },
                "messages": ["invalid icon"]
              }
            ],
            "timestamp": "2012-03-11T09:00:00Z"
          }
