%html
  %head
    %title «Draft» Ubiregi API
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "bootstrap.min.css" }
    %link{ :rel => "stylesheet", :href => "top.css" }
  %body
    .menu.span4{ :style => "background-color:#E0E0F0; position:fixed; left:50%; margin-left:-470px; height:100%; overflow-y:scroll" }
      %div{ :style => "padding:10px" } 
        %h3= link_to "Introduction", "#introduction"
        %ul
          %li= link_to "Implementation Status", "#introduction-implementation-status"
          %li= link_to "Examples", "#introduction-examples"
          %li= link_to "Quick Start", "#introduction-quick-start"
          %li= link_to "General Notes", "#introduction-general-notes"

        %h3= link_to "Authentication", "#authentication"
        %ul
          %li= link_to "Installation", "#authentication-installation"
          %li= link_to "Authorization", "#authentication-authorization"
          %li= link_to "The Protocol", "#authentication-the-protocol"

        %h3= link_to "RESTful API", "#restful-api"

        %h4= link_to "General Notes", "#api-general-notes"

        %ul
          %li Standard Set of APIs on Collection
          %li Standard Index Parameters
          %li Fetching Whole Collection
          %li POST Convention

        %h4= link_to "Account", "#object-account"
        %ul
          %li= link_to "Fields", "#object-account-fields"
          %li= link_to "GET on /accounts/<em>account_id</em>", "#get-on-accounts-account-id"

        %h4= link_to "Table", "#object-table"
        %ul
          %li= link_to "Fields", "#object-table-fields"

        %h4= link_to "CustomerTag", "#object-customer-tag"
        %ul
          %li= link_to "Fields", "#object-customer-tag-fields"
          %li= link_to "POST on /accounts/<em>account_id</em>/customer_tags", "#post-on-accounts-account-id-customer-tags"

        %h4= link_to "Cashier", "#object-cashier"
        %ul
          %li= link_to "Fields", "#object-cashier-fields"
          %li= link_to "POST on /accounts/<em>account_id</em>/cashiers", "#post-on-accounts-account-id-cashiers"
        
        %h4= link_to "PaymentType", "#object-payment-type"
        %ul
          %li= link_to "Fields", "#object-payment-type-fields"
          %li= link_to "POST on /accounts/<em>account_id</em>/payment_types", "#post-on-accounts-account-id-payment-types"

        %h4= link_to "MenuItem", "#object-menu-item"
        %ul
          %li= link_to "Fields", "#object-menu-item-fields"
          %li= link_to "GET on /menus/<em>menu_id</em>/items", "#get-on-menus-menu-id-items"
          %li= link_to "POST on /menus/<em>menu_id</em>/items", "#post-on-menus-menu-id-items"
        
        %h4 hogehogehoge
        %ul
          %li= link_to "Type Annotacions", "#api-objects-type-annotations"
          %li= link_to "Account", "#api-objects-account"
          %li= link_to "Table", "#api-objects-table"
          %li= link_to "Customer Tag", "#api-objects-customer-tag"
          %li= link_to "Payment Type", "#api-objects-payment-type"
          %li= link_to "Cashier", "#api-objects-cashier"
          %li= link_to "Friend", "#api-objects-friend"
          %li= link_to "Menu Item", "#api-objects-menu-item"
          %li= link_to "Category", "#api-objects-category"
          %li= link_to "Checkout", "#api-objects-checkout"
          %li= link_to "Payment", "#api-objects-payment"
          %li= link_to "Checkout Item", "#api-objects-checkout-item"
          %li= link_to "Stock Event", "#api-objects-stock-event"
          %li= link_to "Customer", "#api-objects-customer"
          %li= link_to "Customer Field", "#api-objects-customer-field"
          %li= link_to "Customer Note", "#api-objects-customer-note"

        %h4= link_to "Resources", "#api-resources"
        %ul
          %li= link_to "/accounts", "%h3#api-resources-accounts"
          %li= link_to "/accounts/<em>:account_id</em>/cashiers", "#api-resources-cashiers"
          %li= link_to "/accounts/<em>:account_id</em>/customer_tags", "#api-resources-customer_tags"
          %li= link_to "/accounts/<em>:account_id</em>/tables", "#api-resources-tables"
          %li= link_to "/menus/<em>:menu_id</em>/items", "#api-resources-menu-items"
          %li= link_to "/menus/<em>:menu_id</em>/categories", "#api-resources-menu-categories"
          %li= link_to "/accounts/<em>:account_id</em>/checkouts", "#api-resources-checkouts"
          %li= link_to "/customers", "#api-resources-customers"
          %li= link_to "/customers/notes", "#api-resources-customer-notes"
          %li= link_to "/accounts/<em>:account_id</em>/stocks/events", "#api-resources-stock-events"

        %h4 Errors
      
    .container
      .row
        .span12.offset4
          .title
            %h1 Ubiregi API
            %div
              Ubiregi is simple and clean yet powerful; so the API is.
          
          = render "introduction"
          = render "authentication"

          %h1#restful-api RESTful API
          
          = render "api-notes"
          = render "api-objects"
          = render "api-resources"
          
          %hr
          .row{ :style => "text-align:center; margin-bottom:2em" }
            &copy; 2011 Ubiregi Inc. All rights reserved.

