%html
  %head
    %title [Draft] Ubiregi API
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "bootstrap.min.css" }
    %link{ :rel => "stylesheet", :href => "top.css" }
    %meta{ :name => "viewport", :content =>"width=1120" }
  %body
    .menu.span5
      %div{ :style => "padding:10px" } 
        %h1 Ubiregi API
        
        %h3= link_to "Introduction", "#introduction"
        %ul
          %li= link_to "Implementation Status", "#introduction-implementation-status"
          %li= link_to "Quick Start", "#introduction-quick-start"
          %li= link_to "Examples", "#introduction-examples"
          %li= link_to "Note", "#introduction-general-notes"

        %hr

        %h3= link_to "Authentication", "#authentication"
        %ul
          %li= link_to "Installation", "#authentication-installation"
          %li= link_to "Authorization", "#authentication-authorization"
          %li= link_to "The Protocol", "#authentication-the-protocol"

        %hr

        %h3 API Objects

        %h4= link_to "Notations", "#notations"
        %h4= link_to "Collection API", "#collection-api-set"

        %h4= link_to "Account", "#object-account"
        %ul
          %li= link_to "Fields", "#object-account-fields"
          %li= link_to "GET on /accounts/<em>account_id</em>", "#get-on-accounts-account-id"

        %h4= link_to "Table", "#object-table"
        %ul
          %li= link_to "Fields", "#object-table-fields"

        %h4= link_to "CustomerTag", "#object-customer-tag"
        %ul
          %li= link_to "Fields", "#object-customer-tag-fields"
          %li= link_to "POST on /accounts/<em>account_id</em>/customer_tags", "#post-on-accounts-account-id-customer-tags"

        %h4= link_to "Cashier", "#object-cashier"
        %ul
          %li= link_to "Fields", "#object-cashier-fields"
          %li= link_to "POST on /accounts/<em>account_id</em>/cashiers", "#post-on-accounts-account-id-cashiers"
        
        %h4= link_to "PaymentType", "#object-payment-type"
        %ul
          %li= link_to "Fields", "#object-payment-type-fields"
          %li= link_to "POST on /accounts/<em>account_id</em>/payment_types", "#post-on-accounts-account-id-payment-types"

        %h4= link_to "MenuItem", "#object-menu-item"
        %ul
          %li= link_to "Fields", "#object-menu-item-fields"
          %li= link_to "GET on /menus/<em>menu_id</em>/items", "#get-on-menus-menu-id-items"
          %li= link_to "POST on /menus/<em>menu_id</em>/items", "#post-on-menus-menu-id-items"

        %h4= link_to "Categry", "#object-category"
        %ul
          %li= link_to "Fields", "#object-category-fields"
          %li= link_to "GET on /menus/<em>menu_id</em>/categories", "#get-on-menus-menu-id-categories"
          %li= link_to "POST on /menus/<em>menu_id</em>/categories", "#post-on-menus-menu-id-categories"

        %h4= link_to "StockEvent", "#object-stock-event"
        %ul
          %li= link_to "Fields", "#object-stock-event-fields"
          %li= link_to "GET on /accounts/<em>account_id</em>/stocks/events", "#get-on-accounts-account-id-stocks-events"
          %li= link_to "POST on /accounts/<em>account_id</em>/stocks/events", "#post-on-accounts-account-id-stocks-events"

        %h4= link_to "Checkout", "#object-checkout"
        %ul
          %li= link_to "Fields", "#object-checkout-fields"
          %li= link_to "GET on /accounts/<em>account_id</em>/checkouts", "#get-on-accounts-account-id-checkouts"
          %li= link_to "POST on /accounts/<em>account_id</em>/checkouts", "#post-on-accounts-account-id-checkouts"

        %h4= link_to "CheckoutItem", "#object-checkout-item"
        %ul
          %li= link_to "Fields", "#object-checkout-item-fields"
        
        %h4= link_to "CheckoutPayment", "#object-checkout-payment"
        %ul
          %li= link_to "Fields", "#object-checkout-payment-fields"
        
        %h4= link_to "Customer", "#object-customer"
        %ul
          %li= link_to "Fields", "#object-customer-fields"
          %li= link_to "GET on /customers", "#get-on-customers"
          %li= link_to "POST on /customers", "#post-on-customers"

        %h4= link_to "CustomerField", "#object-customer-field"
        %ul
          %li= link_to "Fields", "#object-customer-field-fields"

        %h4= link_to "CustomerNote", "#object-customer-note"
        %ul
          %li= link_to "Fields", "#object-customer-note-fields"
          %li= link_to "GET on /customers/notes", "#get-on-customers-notes"
          %li= link_to "POST on /customers/notes", "#post-on-customers-notes"

        %h4= link_to "API Notes", "#api-notes"
        
        %h3= link_to "Errors", "#errors"
        %ul
          %li= link_to "Status code", "#errors-status-code"
          %li= link_to "Error object", "#errors-error-object"
        
        %hr
        .row{ :style => "text-align:center; margin-bottom:2em" }
          &copy; 2011 Ubiregi Inc. All rights reserved.

    .container
      .row
        .span12.offset4
          .title
            %h1 Ubiregi API
            %div
              Ubiregi is simple and clean yet powerful; so the API is.
          
          = render "introduction"
          %hr
          = render "authentication"
          
          %hr

          = render "notations"
          = render "api-collection"
          
          = render "api-account"
          = render "api-table"
          = render "api-customer-tag"
          = render "api-cashier"
          = render "api-payment-type"
          = render "api-category"
          = render "api-menu-item"

          = render "api-stock-event"
          
          = render "api-checkout"
          = render "api-checkout-item"
          = render "api-checkout-payment"

          = render "api-customer"
          = render "api-customer-field"
          = render "api-customer-note"

          %hr
          = render "api-notes"
          = render "errors"
          
          %hr
          
